* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: hsl(0, 0%, 8%);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 1rem;
  width: 38vh;
  padding: 20px;
  color: #fff;
}

.container img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.container p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  color: hsl(75, 94%, 57%);
}

.description {
  font-size: 12px;
  font-weight: 400;
  margin: 15px 0;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn {
  background-color: hsl(0, 0%, 20%);
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover,
.btn:active {
  background-color: hsl(75, 94%, 57%);
  color: hsl(0, 0%, 8%);
}

/* FOOTER */

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
